@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)) */
}

.section1 {
  position: relative;
}
.section1::before {
  position: absolute;
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
  content: '';
  background-image: url('/assets/bg/section12.png');
  background-position: center;
  background-size: cover;
  filter: blur(4px);
}