$theme-base-default: #3742fa;
$theme-base-less: #1e90ff;
$theme-base-less-more: #70a1ff;
$theme-base-full: #5352ed;

$theme-danger: #ff4757;
$theme-danger-less: #ff6348;
$theme-danger-less-more: #ff6b81;

$theme-warning: #ffa502;
$theme-warning-more: #ffa502;
$thtme-warning-less: #ff7f50;

$theme-success-less: #7bed9f;
$thtme-success: #2ed573;

$theme-dark-default: #2f3542;
$theme-dark-less: #747d8c;
$theme-dark-less-more: #57606f;
$theme-drak-under: #a4b0be;

$theme-background-default: #ced6e0;
$theme-background-light: #ffffff;
$theme-background-less-more: #f1f2f6;
$theme-background-less: #dfe4ea;

$theme-background-scroll-track: #ffffff;
$theme-background-scroll-thumb: #a4b0be;