@import './mixin.scss';
@import './var.scss';

.icon_group_wrap {
    width: 100%;
    height: 40px;

    .list {
        @include flexWrap($align: center, $justify: space-between);
        height: 100%;
        padding-right: 25px;
        font-size: $text-size-less;
        color: $theme-dark-less;
        box-sizing: border-box;
    }
    .item {
        @include flexWrap($align: center);
    }
    [class *= 'iconfont'] {
        margin-right: 4px;
        font-size: $text-size-default;
    }
}