@import './mixin.scss';

.layout_wrap {
    width: 100%;
    min-height: calc(100% - 120px);
    margin-top: 60px;

    .layout_outer {
        @include flexWrap($align: stretch);        
        padding: 20px 15%;
        &__slide {
            width: 140px;
            height: auto;
            margin-right: 15px;
        }
        &__main {
            flex: 1;
        }
    }
}