@import './mixin.scss';

.layout_wrap {
    width: 100%;
    min-height: calc(100% - 120px);
    margin-top: 60px;

    &__staple {
        position: absolute;
        top: 10%;
    }
    &__func {
        position: absolute;
        right: 5%;
        bottom: 15%;
    }

    .layout_outer {
        position: relative;
        @include flexWrap($align: stretch);        
        padding: 20px 12%;

        &__slide {
            position: relative;
            width: 140px;
            min-width: 120px;
            height: auto;
            margin-right: 15px;
            &_inner {
                position: fixed;
            }
        }
        &__slide:first-of-type {
            width: 120px;
        }
        &__slide:last-of-type {
            width: 280px;
            margin: 0;
            margin-left: 15px;
        }
        &__main {
            flex: 1;
        }
    }
}