@import './mixin.scss';
@import './var.scss';
@import './color.scss';

.list_detail {
    @include flexWrap($dir: column);
    .header {
        width: 100%;
        @include flexWrap($dir: column, $align: stretch);
        &_title {
            margin-bottom: 15px;
            text-align: center;
            font-size: $text-size-large;
        }
        &_group_box {
            @include flexWrap($align: center, $justify: center);
            .time {
                margin: 0 15px;
            }
            .time,
            .location,
            .look {
                font-size: $text-size-less;
                color: $theme-dark-less;
            }
        }
    }
    .box_wrapper {
        width: 100%;
        height: 160px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 4px solid #fcfcfc;
        border-radius: 8px;
        overflow: hidden;

        &_cover {
            width: auto;
            max-width: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }
    .article {
        width: 100%;
        height: 100%;
        padding: 30px 20px;
        font-size: $text-size-default;
        line-height: 1.6em;
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 8px;
        overflow: hidden;

        p {
            display: flex;
            flex-direction: column;
        }
        p > img {
            width: auto;
            max-width: 100%;
            margin: 10px;
            align-self: center;
            box-sizing: border-box;
            object-fit: contain;
        }

        ol, ul, li {
            list-style: decimal;
            list-style-position: inside;
            text-indent: 2em;
        }
        a {
            position: relative;
            &:hover {
                &::before {
                    position: absolute;
                    top: -1.5em;
                    content: attr(href);
                    display: inline-bloc;
                    padding: 2px 4px;
                    border-radius: 4px;
                    background-color: rgba(0, 0, 0, .6);
                    color: #fff;
                    @include line-over;
                }
            }
        }
    }
}