.music_wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 180px);
    overflow: hidden;
    
    &__cover {
        position: absolute;
        width: 44vw;
        height: 44vw;
        border-radius: 50%;
        background-image: url(../assets//image/bg_app_default.jpg);
        background-size: cover;
       
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #fff;
        }
    }

    &__controls {
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translateX(-50%) translateY(-50%);
    }
}
.is_move {
    animation: rotate_circle 10s linear infinite;
}
.is_move_pause {
    animation-fill-mode: forwards;
}

@keyframes rotate_circle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.music_controls {
    position: absolute;
    top: 10%;
    right: 0;
}