@import './color.scss';
@import './mixin.scss';
@import './var.scss';

.slide_wrap {
    ul, ol, li {
        margin: 0;
        padding: 0;
    }

    &__list {}
    &__item {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 10px;
        font-size: $text-size-less + 1;
        border-radius: $border-radius-normal;
        &:hover {
            cursor: pointer;
        }
        &__icon {
            font-size: 20px;
        }
        &__text {
            margin-left: 10px;
        }
    }
}

.slide_m {
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100vh;
    z-index: 299;
    background-color: #fff;
}