@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade 1s 1s infinite;
}


@keyframes reverts {
  from {
    opacity: 1;
    transform: rotateX(0) translateY(0);
  }
  to {
    opacity: 0;
    transform: rotateX(-90deg) translateY(-15px);
  }
}

.revert-in {
  animation: reverts 1s ease-out forwards;
}


@keyframes fade-color {
  0% {
    color: var(--loadmore-button-regular);
    transform:  rotateY(0);
  }
  50% {
    color: var(--loadmore-button-medium);
    transform:  rotateY(180deg);
  }
  100% {
    color: var(--loadmore-button-large);
    transform:  rotateY(0);
  }
}

.fade-color {
  animation: fade-color 2s linear infinite;
}