@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade 1s 1s infinite;
}


@keyframes reverts {
  0% {
    opacity: 1;
    transform: rotateX(0) translateY(0);
  }

  70% {
    opacity: 1;
    transform: rotateX(0) translateY(-2em);
  }
  100% {
    opacity: 0;
    transform: rotateX(-90deg) translateY(-15px);
  }
}

.revert-in {
  animation: reverts 1s ease-out forwards;
}


@keyframes fade-color {
  0% {
    color: var(--loadmore-button-regular);
    transform:  rotateY(0);
  }
  50% {
    color: var(--loadmore-button-medium);
    transform:  rotateY(180deg);
  }
  100% {
    color: var(--loadmore-button-large);
    transform:  rotateY(0);
  }
}

.fade-color {
  animation: fade-color 2s linear infinite;
}

@keyframes fade-bgc {
  0% {
    background-color: rgb(230, 124, 124);
    transform: translateY(10px);
  }
  50% {
    background-color: rgb(108, 209, 108);
    transform: translateY(0);
  }
  100% {
    background-color: rgb(114, 114, 231);
    transform: translateY(10px);
  }
}
.fade-bgc {
  animation: fade-bgc 2s ease-out infinite;
}
.fade-bgc-revert {
  animation: fade-bgc 2s ease-in reverse infinite;
}

@keyframes rotate-diagonal-2 {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
            transform: rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, 180deg);
            transform: rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 360deg);
            transform: rotate3d(-1, 1, 0, 360deg);
  }
}
.rotate-diagonal-2 {
  animation: rotate-diagonal-2 5s linear infinite;
}