div.empty-div1 {
  background: url(https://src.wuh.site/gallery/douban/p2658084408.webp);
}
div.empty-div2 {
  background: url(https://src.wuh.site/gallery/douban/p2658084417.webp);
}
div.empty-div3 {
  background: url(https://src.wuh.site/gallery/douban/p2658084425.webp);
}