:root {
  --padding-base: 8px;
  --margin-base: 8px;
  --border-radius-base: 3px;
  --border-width-base: 1px;
  --transition-base: all .5s ease;
  --font-size-base: 14px;
  --font-weight-base: 400;
  --line-height-base: 22px;
  --color-default: #0875e6;
  --color-text-base: ##a6a6a6;


  /* Padding */
  --padding-base-2: calc(2 * var(--padding-base));
  --padding-base-3: calc(3 * var(--padding-base));
  --padding-base-4: calc(4 * var(--padding-base));

  /* Margin */
  --margin-base-2: calc(2 * var(--margin-base));
  --margin-base-3: calc(3 * var(--margin-base));
  --margin-base-4: calc(4 * var(--margin-base));

  /** Font **/
  --font-weight-regular: var(--font-size-base);
  --font-weight-medium: var(calc(--font-size-base + 100));
  --font-weight-large: var(calc(--font-size-base + 200));

  --font-size-regular: var(--font-size-base);
  --font-size-medium: calc(var(--font-size-base) + 2px);
  --font-size-large: calc(var(--font-size-base) + 4px);
  --font-size-less: calc(var(--font-size-base) - 2px);


  /** Line Height **/
  --line-height-regular: calc(var(--font-size-regular) + 10 - 2);
  --line-height-medium: calc(var(--font-size-medium) + 10 - 2);
  --line-height-large: calc(var(--font-size-large) + 10 - 2);

  /** Border **/
  --border-base: var(--border-width-base) solid var(--color-base-4);


  /** Color List **/
  --color-1: #e6f6ff;
  --color-2: #abdfff;
  --color-3: #82cbff;
  --color-4: #59b4ff;
  --color-5: #2e93f2;
  --color-7: #0056bf;
  --color-8: #004099;
  --color-9: #002c73;
  --color-10: #001b4d;

  /** Sunrise Colors **/
  --color-yellow-1: #feffe6;
  --color-yellow-2: #ffffb8;
  --color-yellow-3: #fffb8f;
  --color-yellow-4: #fff566;
  --color-yellow-5: #ffec3d;
  --color-yellow-6: #fadb14;
  --color-yellow-7: #d4b106;
  --color-yellow-8: #ad8b00;
  --color-yellow-9: #876800;
  --color-yellow-10: #614700;

  /** Geekblue Colors **/
  --color-geekblue-1: #f0f5ff;
  --color-geekblue-2: #d6e4ff;
  --color-geekblue-3: #adc6ff;
  --color-geekblue-4: #85a5ff;
  --color-geekblue-5: #597ef7;
  --color-geekblue-6: #2f54eb;
  --color-geekblue-7: #1d39c4;
  --color-geekblue-8: #10239e;
  --color-geekblue-9: #061178;
  --color-geekblue-10: #030852;


  /** Bacgkround **/
  --color-background-primary: var(--color-base);

  /** Nav **/
  --nav-color-text: var(--color-base-8);
  --nav-color-background-active: var(--color-base-2);

}

html, body, #__next {
  color: var(--color-base-9);
  width: 100%;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: var(--font-weight-large);
}
small {
  font-weight: var(--font-weight-regular);
}

p {
  margin: var(--margin-base-2) 0;
}

[data-theme-mode='light'] a{
  color: var(--color-5);
}
[data-theme-mode='dark'] a{
  color: var(--color-1);
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow-multi {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}