/* Light Theme Variable */

[data-theme-mode='light'] {
  /** 
    Color Light List 
    定义全局使用的色彩，包括 文字，border
  **/
  --color-base: #ebecec;
  --color-base-10: #0d0d0d;
  --color-base-9: #333333;
  --color-base-8: #595959;
  --color-base-7: #808080;
  --color-base-6: #a6a6a6;
  --color-base-5: #b3b3b3;
  --color-base-4: #bfbfbf;
  --color-base-3: #cccccc;
  --color-base-2: #d9d9d9;
  --color-base-1: #e6e6e6;

  /** 中性色彩 **/
  --color-gray-1: #ffffff;
  --color-gray-2: #fafafa;
  --color-gray-3: #f5f5f5;
  --color-gray-4: #f0f0f0;
  --color-gray-5: #d9d9d9;
  --color-gray-6: #bfbfbf;


  --primary-color: #0875e6;

 /*** 文字类型 ***/
  --color-text-primary: #24292e;
  --color-text-less: #333;

  /**** 背景色 *****/
  /* --color-background-primary: var(--color-base); */
  --color-background-revert: #fff;

  /****** Header ******/
  --color-background-header: rgb(255 255 255 / 52%);
  --color-shadow: rgb(238 238 238 / 30%);

  /** Alert **/
  --alert-color-background: var(--color-yellow-4);

  /*****  Border  ****/
  --color-border: #eee;
  --color-border-pain: rgb(255 255 255);

  /* Button */
  --color-background-button: #fff;
  --color-default-button: #333;
  --loadmore-button-large: var(--color-yellow-9);
  --loadmore-button-medium: var(--color-yellow-8);
  --loadmore-button-regular: var(--color-yellow-7);

  /** Link **/
  --color-text-link: var(--color-7);

  --contrast-img: contrast(1);
}

/* Dark Theme Variable */

[data-theme-mode='dark'] {
  /**
    Color Dark List
    定义Dark模式下的反色
  **/
  --color-base: #141313;
  --color-base-10: #fafafa;
  --color-base-9: #f8f8f8;
  --color-base-8: #f3f3f3;
  --color-base-7: #e8e7e7;
  --color-base-6: #dcdcdc;
  --color-base-5: #adacac;
  --color-base-4: #7e7d7d;
  --color-base-3: #5b5a5a;
  --color-base-2: #454545;
  --color-base-1: #2c2b2b;

   /** 中性色彩 **/
   --color-gray-1: #000000;
   --color-gray-2: #141414;
   --color-gray-3: #1f1f1f;
   --color-gray-4: #262626;
   --color-gray-5: #434343;
   --color-gray-6: #8c8c8c;


  --primary-color: #f0f6fc;
  
  /******* 文字类型 *******/
  --color-text-primary: #58a6ff;
  --color-text-less: #b3b8bd;

  /******* 背景色 *******/
  /* --color-background-primary: var(--color-base); */
  --color-background-revert: #fffcfa;

  /******** Header *********/
  --color-background-header: rgb(0 0 0 / 52%);
  --color-shadow: rgb(17 17 17 / 70%);

  /***   Border    ***/
  --color-border: #8e8c8c;
  --color-border-pain: rgb(0 0 0);

  /** Alert **/
  --alert-color-background: var(--color-yellow-9);

  /* Button */
  --color-background-button: #333;
  --color-default-button: #fff;
  --loadmore-button-large: var(--color-yellow-2);
  --loadmore-button-medium: var(--color-yellow-3);
  --loadmore-button-regular: var(--color-yellow-4);


  /** Link **/
  --color-text-link: var(--color-4);

  --contrast-img: contrast(.85);
}