.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-background-primary);
  overflow: hidden;
}

.container {
  padding-top: 75px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
}

.body {
  width: 58%;
}

.nav {
  position: relative;
  top: 0;
  left: 0;
  width: 18%;
  margin-right: 16px;
}
.menu {
  position: fixed;
  top: 80px;
  height: auto;
  user-select: none;
  background-color: var(--color-background-nav);
}

.layout .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.layout .footer {
  height: 80px;
  border-top: 1px solid #fecccc;
  border-bottom: 1px solid #fecccc;
}