.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  transition: all .5s ease;
  overflow: hidden;
  background-color: var(--color-background-primary);
}
.layout::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../public/image/redux_mbox.jpeg);
  background-color: var(--color-background-primary);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.15;
}

.container {
  padding-top: 75px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 80%;
  min-height: calc(100vh - 158px);
  margin: 0 auto;
}

.body {
  width: 58%;
  padding: 0 var(--padding-base-2);
  margin-bottom: var(--margin-base-2);
  background-color: var(--color-background-primary);
  position: relative;
}

.nav {
  position: relative;
  top: 0;
  left: 0;
  width: 18%;
  margin-right: var(--margin-base-2);
}
.menu {
  position: fixed;
  top: 80px;
  width: 14%;
  height: auto;
  user-select: none;
  background-color: var(--color-background-nav);
}

.layout .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.layout .footer {
  height: 80px;
  border-top: 1px solid #fecccc;
  border-bottom: 1px solid #fecccc;
}